<ion-content>
  <div class="row container">
    <div class="col-12 center">
      <div class="title-description">
        {{"common.find.job" | translate}}
      </div>
      <div class="card-job" *ngFor="let dummie of dummy; let i index">
        <div class="row" style="width:100%">
          <div class="col-2">
            <img [src]="dummie.icon" alt="">
          </div>
          <div class="col-6">
            {{dummie.nombre }}
          </div>
          <div class="col-1">
            <ion-checkbox (click)="addValue(dummie)" value="dummie"></ion-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button">
    <button class="btn btn-primary" [disabled]="!SelectedVal" (click)="goToAccount()">{{"common.button.continue" | translate | uppercase}}</button>
  </div>
</ion-content>
