
.title-description{
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  font-size: 22px;
  margin-bottom: 20px;
  color: #101520;
  margin-right: 40px;
  margin-top: 15px;
}

.card-job{
  display: flex;
  width: 100%;
  height: 70px;
  margin: 10px auto;
  border-radius: 30px;
  box-shadow: 0px 10px 65px 0px #E6EAEE99;

  div{
    margin: auto 10px;
  }

}

.input-form{
  display: flex;
  margin: 10px auto;
}

ion-icon{
  font-size: 32px;
  color: #747476;
}

ion-item{
  background-color: #FFFF;

}
.button{
  position: fixed;
  bottom: 50px;
  width: 100%;
  display: flex;
  margin: auto;
  button{
    width: 84%;
    margin: auto;
  }
}

.hyper{
  text-align: center;
  margin-bottom: 30px;
}

