  <div class="container">
  <div class="object-button" (click)="backPage()">
    <div class="button-back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
  </div>

  <div class="row">
    <div class="col-12 center">
      <div class="title-description">
       {{ "login.user.title" | translate}}
      </div>
      <div class="text-description">
        {{"login.user.text" | translate}}
      </div>
      <div class="input-form">
        <ion-item  class="css-input">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input autocomplete="no-autocomplete" placeholder="{{'form.data.email' | translate}}" ></ion-input>
        </ion-item>
      </div>
      <div class="input-form" >
        <ion-item  class="css-input">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input autocomplete="no-autocomplete" placeholder="{{'form.data.password' | translate}}"
          [type]="mostrarContrasena ? 'text' : 'password'" ></ion-input>
          <ion-icon
          slot="end"
          name="{{mostrarContrasena ? 'eye-off' : 'eye'}}"
          (click)="mostrarContrasena = !mostrarContrasena">
        </ion-icon>        </ion-item>
      </div>
      <div class="button">
        <button (click)="sendToAccount()" class="btn btn-primary">{{ "login.user.title" | translate}}</button>
      </div>
      <div class="hyper">
        <a (click)="sendToForgot()">{{"login.user.forgot.password" | translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="hyper">
  <a (click)="sendToCreate()">{{"signup.account.create" | translate}}</a>
</div>
