<div class="object-button" (click)="backPage()">
  <div class="button-back">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 center">
      <div class="title-description">
        ¿Olvidaste tu contraseña?
      </div>
      <div class="text-description">
        Por favor ingrese el correo electrónico asociado a su cuenta
      </div>
      <div class="input-form">
        <ion-item class="css-input">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input placeholder="correo"></ion-input>
        </ion-item>
      </div>
      <div class="button">
        <button class="btn btn-primary">Enviar correo</button>
      </div>
    </div>
  </div>
</div>
