.object-button{
    display: flex;
    ion-icon{
      display: flex;
      margin: auto;
      color: #6C6C6C;
      background-color: rgba(0, 0, 0, 0);

    }
  }

  .centering {
    display: flex;
    margin: auto;
    margin-top: 100px;
    text-align: center;
  }

  svg{
    display: flex;
    margin: auto;
  }



  .title-description{
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-weight: 600;
    size: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 22px;
    margin: auto;

  }


  .button{
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  ion-footer{
    position: absolute;
    bottom: 30px;
  }

  .button-back-2 {
    margin-top: 20px;
    margin-left: 20px;
    img{
      width: 48px;
      height: 48px;
    }

  }
