<ion-content class="floor-menu">
    <ion-row>
      <ion-col  class="section">
        <ion-item (click)="sendToIndex()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-item>
        {{"user.common.word.home" | translate | titlecase}}
      </ion-col>
      <ion-col  class="section">
        <ion-item>
          <ion-icon name="id-card-outline" (click)="sendToInterview()"></ion-icon>
        </ion-item>
        {{"user.common.word.interview" | translate | titlecase}}
      </ion-col>
      <ion-col  class="section">
        <ion-item (click)="sendToProject()">
          <ion-icon name="rocket-outline"></ion-icon>
        </ion-item>
        {{"user.common.word.project" | translate | titlecase}}
      </ion-col>
      <ion-col  class="section">
        <ion-item (click)="sendToApplicant()">
          <ion-icon name="people-outline"></ion-icon>
        </ion-item>
        {{"user.common.word.applicants" | translate | titlecase}}
      </ion-col>
      <ion-col  class="section">
        <ion-item (click)="sendToAccount()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        {{"user.account" | translate | titlecase}}
      </ion-col>
    </ion-row>
  </ion-content>
