.object-button{

  position: absolute;
  top: 0px;
  left: 20px;
    display: flex;
    ion-icon{
      display: flex;
      margin: auto;
      color: #6C6C6C;

    }
  }

  .title-description{
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-weight: 600;
    size: 28px;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 70px;
  }

  .button{
    display: flex;
    margin: auto;
    button{margin: auto;}
  }

  .text-description{
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-weight: 400;
    size: 14px;
    line-height: 22px;
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
  }


  .css-input {
    font-size: 16px;
    border-width: 1px;
    color: #323232;
    border-style: solid;
    border-radius: 24px;
    box-shadow: -9px 0px 0px rgba(66,66,66,.0);
    text-shadow: 0px 0px 2px rgba(66,66,66,.50);
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .css-input:focus {
    outline:none;
  }


  .input-form{
    display: flex;
    margin: 10px auto;
  }



  .hyper{
    text-align: center;
    margin-bottom: 10px;
    color: #017DA5;
    text-decoration: underline;
    font-weight: 600;
  }


  .text-span{
    color: #94A3B8;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

