<ion-content>
  <div class="container">
    <div (click)="backPage()">
      <div class="button-back-2">
        <img src="/assets/image/btnBack.png" alt="Button-back" *ngIf="modeScreen == 'light'">
        <img src="/assets/image/btnBack-dark.png" alt="Button-back-dark" *ngIf="modeScreen == 'dark'">
      </div>
    </div>

    <div class="row">
      <div class="col-12 center">
        <div class="title-description">
          {{ "login.user.title" | translate}}
        </div>
        <div class="text-description">
          {{"login.user.text" | translate}}
        </div>
        <div class="input-form">
          <ion-item class="css-input" [class.input-error]="!isEmailValid(userName) && Email.touched"
          [ngClass]="{'input-warning': !isEmailValid(userName) && Email.touched}">
            <ion-icon [class.warning-icon]="!isEmailValid(userName) && Email.touched" name="mail-outline" slot="start"></ion-icon>
            <ion-input autocomplete="no-autocomplete" [(ngModel)]="userName" #Email="ngModel" placeholder="{{'form.data.email' | translate}}"></ion-input>
          </ion-item>
        </div>
        <div class="input-form">
          <ion-item class="css-input" [class.input-error]="!isPasswordValid(password) && pass.touched"
          [ngClass]="{'input-warning': !isPasswordValid(password) && pass.touched}">
            <ion-icon [class.warning-icon]="!isPasswordValid(password) && pass.touched" name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input autocomplete="false" #pass="ngModel" [(ngModel)]="password"  placeholder="{{'form.data.password' | translate}}"
              [type]="mostrarContrasena ? 'text' : 'password'"></ion-input>
            <ion-icon slot="end" name="{{mostrarContrasena ? 'eye-off' : 'eye'}}"
              (click)="mostrarContrasena = !mostrarContrasena">
            </ion-icon> </ion-item>
        </div>
        <div class="button">
          <button (click)="login()" [disabled]="!isPasswordValid(password) || !isEmailValid(userName)" class="btn btn-primary">{{ "login.user.title" | translate}}</button>
        </div>
        <div class="hyper">
          <a (click)="sendToForgot()">{{"login.user.forgot.password" | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<div class="hyper">
  <a (click)="sendToCreate()">{{"signup.account.create" | translate}}</a>
</div>
