.container{

  margin: auto;
  padding: 0 20px;

}

.button-back-2 {
  img{
    width: 48px;
    height: 48px;
  }
  padding-left: 20px;
  margin-bottom: 20px;

}

.button{
  display: flex;
  margin: auto;
  button{
    margin:auto
  }
}

  .title-description{
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-weight: 500;
    size: 28px;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
    margin-bottom: 2px;
    margin-left: 20px;

  }

  .text-description{
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color: #64748B;

    padding-right: 15px;

  }


.css-input {
  font-size: 16px;
  border-width: 1px;
  color: #94A3B8;
  border-style: solid;
  border-radius: 34px;
  box-shadow: -9px 0px 0px rgba(66,66,66,.0);
  text-shadow: 0px 0px 2px rgba(66,66,66,.50);
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}
.css-input:focus {
  outline:none;
}


.input-form{
  display: flex;
  margin: 10px auto;
}

ion-icon{
  font-size: 22px;
  color: #94A3B8;
}

.object-button{
  position: absolute;
  top: 0;
  left: 20px;
    display: flex;
    ion-icon{
      display: flex;
      margin: auto;
      color: #6C6C6C;
    }
  }

  .item-native, .item-inner{
    background-color: #f80000;
  }

  .button-back{
    display: flex;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F3F3F3;
    color: #6C6C6C;
    font-size: 25px;
  }

.hyper{
  text-align: center;
  margin-bottom: 30px;
  color: #4640DE;
  text-decoration: underline;
  font-weight: 500;
  margin-top: 15px;
}



