ion-card{
  position: relative;
  border-radius: 24px;
  background: #017DA5;
  box-shadow: -12px 16px 50px 0px #0EA5E90A;
  height: 160px;
  width: 90%;


}

.css-input{
  box-shadow: 1px 5px 15px 0px #00000014;
  border: 0;
  width: 100%;

}

h5{
  font-weight: 600;
}

h6{
  margin-top: 8px;
  text-align: center;
  color: #017DA5DE;

}

ion-icon{
  margin: 0 7px;
  font-size: 21px;
  color: #017DA5DE;
  font-weight: 600;
}

.name-enterprise{
  color: #121A26;
  text-decoration: none;
  font-weight: 400;
  margin: 0;
  margin-left: 5px;

}

p{
  margin: 5px;
}

img{
  margin:20px
}

a{
  font-size: 13px;
  font-weight: 600;
  margin-top: 0;
  margin-left: 15px;
}

h2{
  display: flex;
  width: 100%;
}

img{
  border-radius: 100px;
  width: 46px;
  height: 42px;

}
.color-text{
  color: #121A26 !important;

}

.boxes-col{
  margin: -15px;
}


.text-description{
  font-weight: 500;
  margin: auto;
  margin-left: 0;
}

.title-description-card{
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #ffff;
  margin-top: 10px;
  width: 220px;
  margin-bottom: 0;
  padding-right: 20px;
  }
.imagen-lateral{
  position: absolute;
  right: -30px;
  top: -20px;
  bottom: 5px;
  height: 100%;
  width: 70%;
  border-radius: 24px;
}

ion-card-content{
  margin: 0;
  margin-top: -15px;
  a{
    color: #017DA5;
    font-weight: 500;
    padding: 8px 20px;
    width: 150px;
    border-radius: 12px;
    font-size: 15px;
    background-color: white;
  }
}
