

ion-list {
  max-height: 65vh;
  overflow-y: scroll;
}

.container{
  margin-bottom: 10px;
}

.container-ball {
  position: relative;
}

.ball {
  width: 10px;
  height: 10px;
  display: flex;
  position: absolute;
  top: -20px;
  left: 220px;
  border-radius: 50px;
}

.container{
  margin-left: 20px;

}

.button-back-2 {
  margin-top: 15px;
  margin-left: 5px;
  img{
    width: 48px;
    height: 48px;
  }

}
.item-list {
  height: 85px;
}

.hyperlink{
  color: #017DA5!important;
  text-decoration: underline;
  font-weight: 500!important;
  margin-bottom: 20px!important;


}

.option-button{
  color: white;
  font-size: 12px;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  max-width: 87px;
  background-color: #017DA5;
  border-left: 2px solid #ffff;
  text-align: center;
}

.titleName {
  margin: 0;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;


}

.text-description {
  margin: 0;
  margin-right: 20px!important;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #64748B;


}

ion-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.item-text{
  width: 80px;
  max-width: 80px;
  margin-left: 0!important;
  padding: 0;
}

img {
  display: flex;
  margin: auto 0;
  width: 58px;
  height: 58px;
  border-radius: 100px;
  border: 0px;
  margin-top: 0px;
}

.text-list{
  font-size: 16px;
  p{font-size: 12px;}
}


ion-list{
  margin-left: -20px!important;
  padding: 0!important;
  width: 93.5vw;
  margin-right: 0;
}


.title-description{
  font-size: 22px;
}

.title-description, .center-text{
  margin: auto;
  margin-bottom: 10px;
  text-align: left!important;
  line-height: 24px;
}



.object-button{
    height: 40px;
    width: 40px;
    ion-icon{
      display: flex;
      margin: auto;
      color: #6C6C6C;

    }
  }

.button {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 70%;
}


.floor-menu {
  position: absolute;
  bottom: 0;
}
