<div class="object-button" (click)="backPage()">
  <div class="button-back">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 center">
      <div class="title-description">
        ¿{{"login.user.forgot.password" | translate | titlecase}}?
      </div>
      <div class="text-description">
        {{"login.user.forgot.password.text" | translate}}
      </div>
      <div class="input-form">
        <ion-item class="css-input">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input placeholder="{{'form.data.email' | translate | titlecase}}"></ion-input>
        </ion-item>
      </div>
      <div class="button">
        <button class="btn btn-primary">{{"login.user.forgot.password.send" | translate | titlecase}}</button>
      </div>
    </div>
  </div>
</div>
