
<ion-content>
  <div class="row container">
    <div class="col-2">
      <div class="object-button" (click)="backPage()">
        <div class="button-back">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="title-description">
        Franz Rogelez
        <a class="ball" style="background-color: #FF7F23;"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-description center-text">
        Arquitecto de software
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-description">
        Resultado: Aceptable
      </div>
    </div>
    <div class="col-12">
      <div class="text-description">
        Comentarios:<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet ad dolorem amet deserunt
          est, quod consectetur veniam placeat sit iusto voluptatem,</p>
      </div>
    </div>
  </div>
</ion-content>
