<ion-content>

  <div class="row align-row">
    <div class="col-3">
      <div class="object-button" (click)="closeModal()">
        <div class="button-back">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="title-description">
        {{"user.test.performance" | translate | titlecase}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 center">
      <div class="input-form">
        <ion-item class="css-input" [class.input-error]="isNombreEmpty(prueba.name) && nombreInput.touched"
          [ngClass]="{'input-warning': isNombreEmpty(prueba.name) && nombreInput.touched}">
          <ion-icon [ngClass]="{'input-error': isNombreEmpty(prueba.name) && nombreInput.touched}"
            name="business-outline" slot="start"></ion-icon>
          <ion-input disabled value="JojayFood" type="text" #nombreInput="ngModel" [(ngModel)]="prueba.name" autocomplete="no-autocomplete"
            placeholder="{{'user.common.word.company' | translate}}"></ion-input>
          <ion-icon *ngIf="isNombreEmpty(prueba.name)  && nombreInput.touched" name="warning-outline" slot="end"
            class="warning-icon"></ion-icon>
        </ion-item>
      </div>
    </div>
    <div class="col-12 center">
      <div class="input-form">
        <ion-item class="css-input"
          [class.input-error]="isNombreEmpty(prueba.author) && authorInput.touched"
          [ngClass]="{'input-warning': isNombreEmpty(prueba.author) && authorInput.touched}">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input disabled value="franz Joseph" type="text" #authorInput="ngModel" [(ngModel)]="prueba.author"
            autocomplete="no-autocomplete" placeholder="{{'form.data.name' | translate}}"></ion-input>
          <ion-icon *ngIf="isNombreEmpty(prueba.author)  && authorInput.touched" name="warning-outline"
            slot="end" class="warning-icon"></ion-icon>
        </ion-item>
      </div>
    </div>
    <div class="col-12 center">
      <div class="input-form">
        <ion-item class="css-input"
          [class.input-error]="isNombreEmpty(prueba.date) && dateInput.touched"
          [ngClass]="{'input-warning': isNombreEmpty(prueba.date) && dateInput.touched}">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-input disabled value="21-08-2023" type="text" #dateInput="ngModel" [(ngModel)]="prueba.date"
            autocomplete="no-autocomplete" placeholder="{{'form.data.date' | translate}}"></ion-input>
          <ion-icon *ngIf="isNombreEmpty(prueba.date)  && dateInput.touched" name="warning-outline"
            slot="end" class="warning-icon"></ion-icon>
        </ion-item>
      </div>
    </div>

    <div class="col-12 center">
      <div class="input-form">
        <ion-item class="css-input input-large" [class.input-error]="isNombreEmpty(prueba.observation) && observation.touched"
        [ngClass]="{'input-warning': isNombreEmpty(prueba.observation) && observation.touched}"
        >
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input type="text" #observation="ngModel" [(ngModel)]="prueba.observation" autocomplete="no-autocomplete"
            placeholder='{{"user.common.word.comments" | translate}}'></ion-input>
        </ion-item>
        <ion-icon *ngIf="isNombreEmpty(prueba.observation)  && observation.touched" name="warning-outline" slot="end"
            class="warning-icon"></ion-icon>
      </div>
    </div>

    <div class="col-12 center">
      <div class="input-form">
        <ion-item class="css-input" [class.input-error]="isNombreEmpty(prueba.status) && status.touched"
          [ngClass]="{'input-warning': isNombreEmpty(prueba.status) && status.touched}">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input type="text" #status="ngModel" [(ngModel)]="prueba.status" autocomplete="no-autocomplete"
            placeholder='{{"user.common.word.Results" | translate}}'></ion-input>
          <ion-icon *ngIf="isNombreEmpty(prueba.status)  && status.touched" name="warning-outline" slot="end"
            class="warning-icon"></ion-icon>
        </ion-item>
      </div>
    </div>


      <div class="button">
        <button [disabled]="!camposCompletos()" (click)="createNewProject()" class="btn btn-primary">{{"user.applicants.technical.test.publish" | translate   |
          uppercase}}</button>
      </div>
  </div>

</ion-content>
