<ion-content class="container">
  <div (click)="backPage()">
    <div class="button-back-2">
      <img src="/assets/image/btnBack.png" alt="Button-back" *ngIf="modeScreen == 'light'">
      <img src="/assets/image/btnBack-dark.png" alt="Button-back-dark" *ngIf="modeScreen == 'dark'">
    </div>
  </div>

  <div class="row">
    <div class="col-12 center">
      <div class="title-description">
        {{"signup.account.create" |translate}}
      </div>
      <div class="text-description">
        {{"signup.account.create.form" | translate}}
      </div>
      <div class="input-form">
        <ion-item class="css-input" [class.input-error]="!isnameValid(userName) && Name.touched"
          [ngClass]="{'input-warning': !isnameValid(userName) && Name.touched}">
          <ion-icon name="person-outline" slot="start" [class.warning-icon]="!isnameValid(userName) && Name.touched"></ion-icon>
          <ion-input  autocomplete="no-autocomplete" #Name="ngModel" [(ngModel)]="userName" placeholder="{{'form.data.name' | translate}}"></ion-input>
        </ion-item>
      </div>
      <div class="center-text">
        <ion-span *ngIf="!isnameValid(userName) && Name.touched" class="text-error">{{"span.error.name" | translate}}*</ion-span>
      </div>

      <div class="input-form">
        <ion-item class="css-input" [class.input-error]="!isPhoneValid(phone) && Phone.touched"
          [ngClass]="{'input-warning': !isPhoneValid(phone) && Phone.touched}">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input autocomplete="no-autocomplete" #Phone="ngModel" [(ngModel)]="phone" placeholder="{{'form.data.phone' | translate}}" type=number></ion-input>
        </ion-item>
      </div>
      <div class="center-text">
        <ion-span *ngIf="!isPhoneValid(phone) && Phone.touched" class="text-error">{{"span.error.phone" | translate}}*</ion-span>
      </div>

      <div class="input-form">
        <ion-item class="css-input" [class.input-error]="!isEmailValid(email) && Email.touched"
          [ngClass]="{'input-warning': !isEmailValid(email) && Email.touched}">
            <ion-icon [class.warning-icon]="!isEmailValid(email) && Email.touched" name="mail-outline" slot="start"></ion-icon>
            <ion-input autocomplete="no-autocomplete" [(ngModel)]="email" #Email="ngModel" placeholder="{{'form.data.email' | translate}}"></ion-input>
        </ion-item>
      </div>
      <div class="center-text">
        <ion-span *ngIf="!isEmailValid(email) && Email.touched" class="text-error">{{"span.error.email" | translate}}*</ion-span>
      </div>

      <div class="input-form">
        <ion-item class="css-input" [class.input-error]="!isPasswordValid(password) && pass.touched"
          [ngClass]="{'input-warning': !isPasswordValid(password) && pass.touched}">
            <ion-icon [class.warning-icon]="!isPasswordValid(password) && pass.touched" name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input autocomplete="false" #pass="ngModel" [(ngModel)]="password"  placeholder="{{'form.data.password' | translate}}"
            [type]="mostrarContrasena ? 'text' : 'password'"></ion-input>
          <ion-icon class="icon-eye" slot="end" name="{{mostrarContrasena ? 'eye-off' : 'eye'}}"
            (click)="mostrarContrasena = !mostrarContrasena">
          </ion-icon>
        </ion-item>
      </div>

      <div class="center-text">
        <ion-span *ngIf="!isPasswordValid(password) && pass.touched" class="text-error">{{"span.error.password" | translate}}*</ion-span>
      </div>

      <div class="input-form">
        <ion-item class="css-input"  [class.input-error]="confirmPassword != password && confirm.touched"
        [ngClass]="{'input-warning': confirmPassword != password && confirm.touched}">
          <ion-icon [class.warning-icon]="confirmPassword != password && confirm.touched" name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input autocomplete="no-autocomplete" #confirm="ngModel" [(ngModel)]="confirmPassword" placeholder="{{'form.data.password.verify' | translate}}"
            [type]="confirmarContrasena ? 'text' : 'password'"></ion-input>
          <ion-icon slot="end" name="{{confirmarContrasena ? 'eye-off' : 'eye'}}"
            (click)="confirmarContrasena = !confirmarContrasena">
          </ion-icon>
        </ion-item>
      </div>

      <div class="center-text">
        <ion-span *ngIf="confirmPassword != password && confirm.touched" class="text-error">{{"span.error.password.confirm" | translate}}*</ion-span>
      </div>

      <div class="button">
        <button (click)="signUp()"
        [disabled]="!isEmailValid(email) || !isPasswordValid(password) || !isPhoneValid(phone) || !isnameValid(userName) || confirmPassword != password" class="btn btn-primary">{{"button.data.sign" | translate}}</button>
      </div>
      <div class="text-span">
        <a >{{"span.Terms.conditions" | translate}}</a>
      </div>
      <div class="hyper" style="font-weight:900; text-decoration:none;">
        <a >{{"span.Terms.conditions.blur" | translate}}</a>
      </div>
    </div>
  </div>
</ion-content>

<div class="hyper">
  <a (click)="sendToLogin()">{{"login.user.title" | translate}}</a>
</div>
