<ion-content class="container">
  <div (click)="backPage()">
    <div class="button-back-2">
      <img src="/assets/image/btnBack.png" alt="Button-back" *ngIf="modeScreen == 'light'">
      <img src="/assets/image/btnBack-dark.png" alt="Button-back-dark" *ngIf="modeScreen == 'dark'">
    </div>
  </div>

  <div class="row">
    <div class="col-12 center">
      <div class="title-description">
        {{"signup.account.create" |translate}}
      </div>
      <div class="text-description">
        {{"signup.account.create.form" | translate}}
      </div>
      <div class="input-form">
        <ion-item class="css-input">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input  autocomplete="no-autocomplete" placeholder="{{'form.data.name' | translate}}"></ion-input>
        </ion-item>
      </div>

      <div class="input-form">
        <ion-item class="css-input">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input autocomplete="no-autocomplete" placeholder="{{'form.data.phone' | translate}}"></ion-input>
        </ion-item>
      </div>

      <div class="input-form">
        <ion-item class="css-input">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input autocomplete="no-autocomplete" placeholder="{{'form.data.email' | translate}}"></ion-input>
        </ion-item>
      </div>

      <div class="input-form">
        <ion-item class="css-input">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input autocomplete="no-autocomplete" placeholder="{{'form.data.password' | translate}}"
            [type]="mostrarContrasena ? 'text' : 'password'"></ion-input>
          <ion-icon class="icon-eye" slot="end" name="{{mostrarContrasena ? 'eye-off' : 'eye'}}"
            (click)="mostrarContrasena = !mostrarContrasena">
          </ion-icon>
        </ion-item>
      </div>

      <div class="input-form">
        <ion-item class="css-input">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input autocomplete="no-autocomplete" placeholder="{{'form.data.password.verify' | translate}}"
            [type]="confirmarContrasena ? 'text' : 'password'"></ion-input>
          <ion-icon slot="end" name="{{confirmarContrasena ? 'eye-off' : 'eye'}}"
            (click)="confirmarContrasena = !confirmarContrasena">
          </ion-icon>
        </ion-item>
      </div>

      <div class="button">
        <button (click)="sendToEnterprise()" class="btn btn-primary">{{"button.data.sign" | translate}}</button>
      </div>
      <div class="text-span">
        <a >{{"span.Terms.conditions" | translate}}</a>
      </div>
      <div class="hyper" style="font-weight:900; text-decoration:none;">
        <a >{{"span.Terms.conditions.blur" | translate}}</a>
      </div>
    </div>
  </div>
</ion-content>

<div class="hyper">
  <a (click)="sendToLogin()">{{"login.user.title" | translate}}</a>
</div>
