.container{

  margin: auto;
  padding: 0 35px;
  margin-top: 30px;

}
.image-inside{
  position: absolute;
  top: 0;
  z-index: -1;
}

.center{
  display: flex;
  margin:auto;
  flex-direction: column;
}

.image{
  display: flex;
  margin:auto;
}

.title-description{
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-weight: 600;
  size: 28px;
  line-height: 42px;
  text-align: center;
  display: flex;
  margin: auto;
  padding: 0  25px 0 5px;

}

.text-description{
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #64748B;
  padding: 0  20px 0 5px;

}

.finish-logo{
 z-index: 9999;
}

.cards{
  display:flex;
  margin: auto;
  flex-direction: column;
}

.finish-text{
  margin-top: -15px;
}



.footer{
  display: flex;
  margin: auto;
  justify-content: space-between;
}




@media (min-width: 765px) {
  .title-description {
    p{
      display: flex;
      margin: auto;
      text-align: center;
    }
  }
}
