.title-description {
  margin: auto;
  margin-bottom: 30px;
}

.content {
  height: 55vh;
  overflow-y: scroll;
}

.letter {
  margin: 10px 10px;
  background-color: #017DA5;
  border-radius: 9px;
  font-size: 40px;
  font-weight: bolder;
  color: #ffff;
  height: 65px;
  width: 80px;
}

.container-ball {
  position: relative;
}
.container {
  margin-top: 80px;
}

.ball {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -65px;
  right: -15px;
  border-radius: 50px;
  border: 5px solid #ffff;

}

.sidebar{
  height: 100%;
  width: 100px;
  position: absolute;
  top: 100px
}

.item-list {
  height: 80px;
  border-bottom:1px solid #E5E5E5;
}

.titleName {
  margin: 0;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.text-description {
  margin: 0;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

}

button{
  margin: auto;
  margin-left: -24px;
  z-index: 999;
  border-radius:0 24px 24px 0 ;
  width: 100%;
}
.css-input{
  border-radius:24px 0 0 24px ;
  width: 100%;
}

.container{
height: 60%;
width: 60%;
}
.floor-menu{
  position: absolute;
  bottom: 0;
}

ion-modal{
  & .custom-modal {
  --height: 50vh !important;  // Ocupa el 50% de la altura de la pantalla
  --border-radius: 20px 20px 0 0;  // Redondea solo las esquinas superiores
  --max-height: 50vh !important;  // En caso de que la altura del contenido supere el 50%
}
}

.custom-modal {
  --height: 50vh !important;  // Ocupa el 50% de la altura de la pantalla
  --border-radius: 20px 20px 0 0;  // Redondea solo las esquinas superiores
  --max-height: 50vh !important;  // En caso de que la altura del contenido supere el 50%
  --background: red;

}


