.title-description {
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}

.content {
  height: 55vh;
  overflow-y: scroll;
}

.letter {
  margin: 10px 10px;
  background-color: #017DA5;
  border-radius: 9px;
  font-size: 40px;
  font-weight: bolder;
  color: #ffff;
  height: 65px;
}

.container-ball {
  position: relative;
}

.ball {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -65px;
  right: -15px;
  border-radius: 50px;
  border: 5px solid #ffff;

}

.item-list {
  height: 90px;
  border-bottom:1px solid #E5E5E5;
}

.titleName {
  margin: 0;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.text-description {
  margin: 0;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

}

.button{
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 45%;
}

.container{
height: 60%;
margin-bottom: 15px;
overflow-y: scroll;
width: 100%!important;
min-width: 350px!important;
}
.floor-menu{
  position: absolute;
  bottom: 0;
}

ion-modal{
  & .custom-modal {
  --height: 50vh !important;  // Ocupa el 50% de la altura de la pantalla
  --border-radius: 20px 20px 0 0;  // Redondea solo las esquinas superiores
  --max-height: 50vh !important;  // En caso de que la altura del contenido supere el 50%
}
}

.custom-modal {
  --height: 50vh !important;  // Ocupa el 50% de la altura de la pantalla
  --border-radius: 20px 20px 0 0;  // Redondea solo las esquinas superiores
  --max-height: 50vh !important;  // En caso de que la altura del contenido supere el 50%
  --background: red;

}

ion-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

