nav{
  height: 70px;
  width: 50%;
  display: flex;
  margin: auto;
}

.accesibility{
  display: flex;
  margin: auto;
}
.button-access{
  display: flex;
  margin: auto;
  margin-top: 10px;
  font-size: 35px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50%;

}

