nav{
  height: 70px;
  width: 100%;
  display: flex;
  margin: auto;
  box-shadow: none;
  border: 0;
}

.logo{
  position: absolute;
  top: 7px;
  left: 20px;
}

.logo-text{
  position: absolute;
  top: 18px;
  left: 80px;
}
.accesibility{
  display: flex;
  margin: auto;
}
.button-access{
  display: flex;
  margin: auto;
  margin-top: 10px;
  font-size: 35px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50%;

}

