<ion-content>
  <div (click)="closeModal()">
    <div class="button-back-2">
      <img src="/assets/image/btnBack.png" alt="Button-back" *ngIf="modeScreen == 'light'">
      <img src="/assets/image/btnBack-dark.png" alt="Button-back-dark" *ngIf="modeScreen == 'dark'">
    </div>
  </div>
  <div class="row align-row">
    <div class="col-12">
      <div class="title-description">
        {{"user.accesibility" | translate | titlecase}}
      </div>
      <div class="text-description description">
        {{"user.accesibility.text" | translate}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 center">
      <div class="input-form">
        <ion-item class="css-input">
        <img src="\assets\image\Spanish.png" *ngIf="languageChoose == 'es'" alt="language-English">
        <img src="\assets\image\english.webp" *ngIf="languageChoose == 'en'" alt="language-Spanish">
        <ion-select (ionChange)="changeLang()" #language="ngModel" [(ngModel)]="languageChoose" autocomplete="no-autocomplete"
          placeholder="{{'user.accesibility.form.language' | translate}}">
          <ion-select-option value="es">{{"user.accesibility.spanish" | translate | titlecase}}</ion-select-option>
          <ion-select-option value="en">{{"user.accesibility.english" | translate | titlecase}}</ion-select-option>
        </ion-select>
      </ion-item>
      </div>
    </div>
    <ion-row>
      <ion-col class="col-6 access" (click)="setDarkMode(true)">
        <img src="\assets\image\moon-light.png" alt="moon-light" *ngIf="modeScreen == 'light'">
        <img src="\assets\image\moon-dark.png" alt="moon-dark" *ngIf="modeScreen == 'dark'">
        <a>{{"user.accesibility.night" | translate | titlecase}}</a>
      </ion-col>
      <ion-col class="col-6 access" (click)="setDarkMode(false)">
        <img src="\assets\image\light.png" alt="light-white" *ngIf="modeScreen == 'light'">
        <img src="\assets\image\light-dark.png" alt="light-black" *ngIf="modeScreen == 'dark'">
        <a>{{"user.accesibility.day" | translate | titlecase}}</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-12 text-description access">
        <p>
          {{"user.accesibility.span.letter" | translate | titlecase}}
        </p>
      </ion-col>
      <ion-col class="col-2 access">
        <img class="txt" src="\assets\image\txt.png" alt="size">
      </ion-col>
      <ion-col class="col-2 access" style="text-align: right;">
        <img class="button-more" src="\assets\image\ore.png" alt="size-up">
      </ion-col>
      <ion-col class="col-4 access"  style="text-align: left;">
        <img class="button-less" src="\assets\image\less.png" alt="size-less">
      </ion-col>
    </ion-row>

  </div>
  <div class="button">
    <button
      class="btn btn-primary" (click)="closeModal()">{{"common.button.next" | translate}}</button>
  </div>

  <!--language DATA-->


</ion-content>
