<ion-content>
  <div class="row align-row">
    <div class="col-3">
      <div class="object-button" (click)="closeModal()">
        <div class="button-back">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
      </div>
    </div>


    <div class="col-9">
      <div class="title-description">
        {{"user.accesibility" | translate | titlecase}}
      </div>
      <div class="text-description">
        {{"user.accesibility.text" | translate}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 center">
      <div class="input-form">
        <<ion-item class="css-input">
        <img src="\assets\image\Spanish.png" *ngIf="languageChoose == 'es'" alt="language-English">
        <img src="\assets\image\english.webp" *ngIf="languageChoose == 'en'" alt="language-Spanish">
        <ion-select (ionChange)="changeLang()" #language="ngModel" [(ngModel)]="languageChoose" autocomplete="no-autocomplete"
          placeholder="{{'user.accesibility.form.language' | translate}}">
          <ion-select-option value="es">{{"user.accesibility.spanish" | translate | titlecase}}</ion-select-option>
          <ion-select-option value="en">{{"user.accesibility.english" | translate | titlecase}}</ion-select-option>
        </ion-select>
      </ion-item>
      </div>
    </div>
    <ion-row>
      <ion-col class="col-6 access" (click)="setDarkMode(true)">
        <ion-icon name="moon-outline"></ion-icon>
        <a>{{"user.accesibility.night" | translate | titlecase}}</a>
      </ion-col>
      <ion-col class="col-6 access" (click)="setDarkMode(false)">
        <ion-icon name="sunny-outline"></ion-icon>
        <a>{{"user.accesibility.day" | translate | titlecase}}</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-12 text-description access">
        <p>
          {{"user.accesibility.span.letter" | translate | titlecase}}
        </p>
      </ion-col>
      <ion-col class="col-2 access">
        <a class="min">A</a>
        <a class="max">A</a>
      </ion-col>
      <ion-col class="col-2 access" style="text-align: right;">
        <a class="button-more">A</a>
      </ion-col>
      <ion-col class="col-4 access"  style="text-align: left;">
        <a class="button-less">A</a>
      </ion-col>
    </ion-row>

    <div class="button">
      <button
        class="btn btn-primary" (click)="closeModal()">{{"common.button.next" | translate}}</button>
    </div>
  </div>

  <!--language DATA-->


</ion-content>
