/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '~bootstrap/dist/css/bootstrap.css';
@import "/node_modules/swiper/swiper-bundle.min.css";



body.dark {
  --ion-background-color: #222;
  --ion-text-color: #ddd;
  .container{
    --ion-background-color: #222;
    --ion-text-color: #ddd;
  }
  .title-description{
    background-color: #222;
    text-color: #ddd;
  }
  .text-description{
    --ion-background-color: #222;
    --ion-text-color: #ddd;
  }
}

ion-col.dark {
  --ion-background-color: #222;
    --ion-text-color: #ddd;
}
ion-row.dark {
  --ion-background-color: #222;
    --ion-text-color: #ddd;
}
ion-header.dark {
  --ion-background-color: #222;
    --ion-text-color: #ddd;
}
ion-icon.dark {
  --ion-background-color: #222;
    --ion-text-color: #ddd!important;
}



.btn-primary {
  background: #017DA5;
  border: none;
  border-radius: 50px;
  width: 94%;
  height: 60px;
  font-size: 22px;

}

.btn-primary:disabled {
  background: #d0d0d0;
  color: #232323;
}

:root {
  --ion-font-family: 'Poppins', sans-serif;
}

ion-header{
  border-width: 0;
  box-shadow: none;
}

.css-input {
  font-size: 16px;
  color: #323232;
  box-shadow: -9px 0px 0px rgba(66, 66, 66, .0);
  text-shadow: 0px 0px 2px rgba(66, 66, 66, .50);
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  height: 64px;
  width: 94%;
  border: 1px solid #E2E8F0;
  border-radius: 24px;
}

.css-input.dark {
  color: #ffff;
  background-color: #101520;
  --ion-background-color: #222;
  --ion-text-color: #ddd;
}

ion-modal.custom-modal {
  --height: 80vh; // El modal ocupará el 50% de la altura del viewport
  --border-radius: 22px 22px 0 0;
  position: absolute !important;
  align-items: end;
}

ion-modal.custom-modal-2 {
  --height: 50vh; // El modal ocupará el 50% de la altura del viewport
  --border-radius: 22px 22px 0 0;
  position: absolute !important;
  align-items: end;
}


.css-input::before {
  border: 1px solid #4640DE;
  ;
}

ion-input.dark{
  --ion-background-color: #222;
  --ion-text-color: #ddd;


}

ion-item.dark{
  --ion-background-color: #222;
  --ion-text-color: #ddd;


}

ion-content.dark {
  --ion-background-color: #222;
  --ion-text-color: #ddd;
  background-color: #222;


}


ion-item {
  --border-width: 0;
  --border-style: none;
  --border-color: transparent;
}

.button-back {
  display: flex;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F3F3F3;
  color: #6C6C6C;
  font-size: 25px;
}

.title-description {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.text-description {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-weight: 400;
  size: 14px;
  line-height: 22px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}

.container {

  margin: auto;
  padding: 0 20px;
  margin-bottom: 80px;


}
